In [21]:
import pandas as ds
df=ds.read_csv("E:\data.csv")             
df.drop_duplicates(inplace= True)
print(df.to_string())

    s.no      name  age  gender        ph.no country
0      1   sreekar   18    male   654*****55   india
1      2   pradeep   18    male   455677***6   italy
2      3   krishna   18    male   5678****67   japan
3      4    rajash   18    male   45678****6  chaina
4      5    venkat   18    male   3456****56  german
5      6    tharun   18    male     534*2159  canada
6      7  srinivas   18    male   654*****56  london
7      8    vijaya   18  female  34565***667   india
8      9    pranay   18    male   457*****56  chaina
9     10     phani   18    male   456*****45  france
10    11    pranav   18    male   345*****34   india
11    12    charan   18    male    453****45   italy
12    13     pandu   18    male   654*****57   japan
13    14   prabhas   18    male   234*****89  chaina
14    15      pspk   18    male   761*****34   india

In [13]:
import pandas as ds
df=ds.read_csv("E:\data-2.csv")
print(df.to_string())

    s.no      name  age  gender        ph.no country passport lisence
0      1   sreekar   18    male   654*****55   india        x       r
1      2   pradeep   18    male   455677***6   italy        y       t
2      3   krishna   18    male   5678****67   japan        c       y
3      4    rajash   18    male   45678****6  chaina        v       u
4      5    venkat   18    male   3456****56  german        g       j
5      6    tharun   18    male     534*2159  canada        y       k
6      7  srinivas   18    male   654*****56  london        u       l
7      8    vijaya   18  female  34565***667   india        t       m
8      9    pranay   18    male   457*****56  chaina        g       n
9     10     phani   18    male   456*****45  france        h       o
10    11    pranav   18    male   345*****34   india        t       p
11    12    charan   18    male    453****45   italy        j       e
12    13     pandu   18    male   654*****57   japan        k       r
13    14   prabhas   18    male   234*****89  chaina        l       e
14    15      pspk   18    male   761*****34   india        m       f