In [25]:
import pandas as family
details={
    "names":["sreekar","jayanth","vijaya","srinivas"],
    "age":[18,12,45,50],
    "gender":["male","male","femail","male"],
    "mobile number":["123456","789123","1357801","13579864"]
}
fdetails=pandas.DataFrame(details)
print(fdetails)

      names  age  gender mobile number
0   sreekar   18    male        123456
1   jayanth   12    male        789123
2    vijaya   45  femail       1357801
3  srinivas   50    male      13579864

In [24]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [4, 5, 6]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         4
1  Volvo         5
2   Ford         6

In [30]:
import pandas as details

fdetails={"sreekar":18,"jayanth":12,"vijaya":45,"srinivas":50}

b=details.Series(fdetails,index=["jayanth"])
print(b)

jayanth    12
dtype: int64

In [31]:
import pandas as pd

data = {
  "names":["sreekar","jayanth","vijaya","srinivas"],
    "age":[18,12,45,50],
    "gender":["male","male","femail","male"],
    "mobile number":["123456","789123","1357801","13579864"]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

      names  age  gender mobile number
0   sreekar   18    male        123456
1   jayanth   12    male        789123
2    vijaya   45  femail       1357801
3  srinivas   50    male      13579864

In [33]:
import pandas as pd

fdetails={"sreekar":18,"jayanth":12,"vijaya":45,"srinivas":50}

myvar = pd.Series(fdetails)

print(myvar)

sreekar     18
jayanth     12
vijaya      45
srinivas    50
dtype: int64

In [51]:
import pandas as pandas

data = {
  "names":["sreekar","jayanth","vijaya","srinivas"],
    "age":[18,12,45,50],
    "gender":["male","male","femail","male"],
}

df = pd.DataFrame(data, index = ["member-1", "member-2", "member-3","member-4"])

print(df)

             names  age  gender
member-1   sreekar   18    male
member-2   jayanth   12    male
member-3    vijaya   45  femail
member-4  srinivas   50    male

In [53]:
import pandas as pd

data = {
 "name":["sreekar","jayanth","vijaya","srinivas"],
    "age":[18,12,45,50],
    "gender":["male","male","femail","male"]
}

df = pd.DataFrame(data, index = ["member-1", "member-2", "member-3","member-4"])

print(df.loc["member-2"])

name      jayanth
age            12
gender       male
Name: member-2, dtype: object