In [35]:
import pandas as pd

df = pd.read_csv('f information.csv')

print(df.to_string())
new_df = df.dropna()

       name gender   age
0   sreekar   male  18.0
1   jayanth   male  12.0
2  srinivas   male   NaN

In [36]:
import pandas as pd

df = pd.read_csv('f information.csv')

df.fillna("45", inplace = True)

print(df.to_string())

       name gender   age
0   sreekar   male  18.0
1   jayanth   male  12.0
2  srinivas   male    45

In [37]:
import pandas as pd

df = pd.read_csv('f information.csv')

df["age"].fillna("45", inplace = True)

print(df.to_string())

       name gender   age
0   sreekar   male  18.0
1   jayanth   male  12.0
2  srinivas   male    45

In [40]:
import pandas as pd

df = pd.read_csv('f information.csv')

x = df["age"].mean()

df["age"].fillna("45", inplace = True)
print(df.to_string())

       name gender   age
0   sreekar   male  18.0
1   jayanth   male  12.0
2  srinivas   male    45